<%- include('../partials/header') %>
<section id="show-page">
    <a href="/">Home</a>
    </br>
    <div>Name: </div>
    <div><%= profile.name %></div>
    <div>Country: </div>
    <div><%= profile.country %></div>
    <div>Currency: </div>
    <div><%= profile.currency %></div>
    <div>Exchange: </div>
    <div><%= profile.exchange %></div>
    <div>Industry: </div>
    <div><%= profile.finnhubIndustry %></div>
  </section>
<%- include('../partials/footer') %>
